@using Gfk.Mvc.Models.Entities
@model PlayerPaginationViewModel<PlayerEntity>

@{
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}

<section id="team" class="team_area section-padding">
    <div class="container">

        <!-- Filtreleme Formu -->

        <form class="d-flex justify-content-center mb-3" asp-controller="Player" asp-action="List" method="get" class="form-inline">
            <div class="row justify-content-center mb-3">
                <div class="col-6 col-md-3 form-group mb-2">
                    <input class="form-control text-center" asp-for="SearchString" placeholder="Ara...">
                </div>
                <div class="col-6 col-md-3 form-group mb-2">
                    <select class="form-select text-center" asp-for="Category">
                        <option class="dropdown-item" disabled selected>Kategori Seç...</option>
                        <option value="A Takım">A-Takım</option>
                        <option value="U-18">U-18</option>
                        <option value="U-17">U-17</option>
                        <option value="U-16">U-16</option>
                        <option value="U-15">U-15</option>
                        <option value="U-14">U-14</option>
                        <option value="U-13">U-13</option>
                        <option value="U-12">U-12</option>
                        <option value="U-11">U-11</option>
                        <option value="Minik">Minik</option>
                        <!-- Kategori değerlerinizi buraya ekleyin -->
                    </select>
                </div>
                <div class="col-6 col-md-3 form-group mb-2">
                    <select class="form-select text-center" asp-for="Licance">
                        <option class="dropdown-item" disabled selected>Lisans Durumu...</option>
                        <option value="Var">Var</option>
                        <option value="Yok">Yok</option>
                        <option value="Filizlenmesi Gerek">Filiz</option>
                        <option value="Transferi Yapılacak">Transfer</option>
                        <!-- Lisans durumu değerlerinizi buraya ekleyin -->
                    </select>
                </div>
                <div class="col-6 col-md-3 form-group mb-2">
                    <select class="form-select text-center" name="Foot">
                        <option class="dropdown-item" disabled selected>Ayak...</option>
                        <option value="Sağ">Sağ</option>
                        <option value="Sol">Sol</option>
                        <!-- Ayak tercihlerinizi buraya ekleyin -->
                    </select>
                </div>

                <!-- Diğer filtreleme seçenekleri eklenebilir -->
                <div class="d-flex w-100">
                    <div class="d-grid form-group mb-2 w-50 me-2">
                        <button type="submit" class="btn btn-light">Filtrele</button>
                    </div>
                    <div class="d-grid form-group mb-2 w-50 ms-2">
                        <button type="reset" class="btn btn-danger">Sıfırla</button>
                    </div>
                </div>
            </div>
        </form>





        <!-- Oyuncu Kartları -->
        <div class="row text-center mb-3">
            @foreach (var player in Model.Items)
            {
                <div class="col-lg-2 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <div class="our-team mb-3">
                        <div class="single-team">
                            <img src="https://picsum.photos/120/120" class="img-fluid" alt="">
                            <h3>@player.Name @player.Surname</h3>
                            <p>@player.Category</p>
                        </div>
                        <ul class="social">
                            <li><a asp-controller="Player" asp-action="Detail" asp-route-id="@player.Id" class="fa fa-info facebook"></a></li>
                            <li><a asp-controller="Player" asp-action="Update" asp-route-id="@player.Id" class="fa fa-pencil twitter"></a></li>
                            <li><a asp-controller="Player" asp-action="Delete" asp-route-id="@player.Id" class="fa fa-trash google"></a></li>
                        </ul>
                    </div><!--- END OUR TEAM -->
                </div><!--- END COL -->
            }
        </div><!--- END ROW -->
        <!-- Sayfalama -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center mb-5">
                <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                    <a class="page-link" asp-action="List" asp-route-page="@(Model.CurrentPage - 1)" aria-label="Önceki">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                        <a class="page-link" asp-action="List" asp-route-page="@i">@i</a>
                    </li>
                }
                <li class="page-item @(Model.CurrentPage >= Model.TotalPages ? "disabled" : "")">
                    <a class="page-link" asp-action="List" asp-route-page="@(Model.CurrentPage + 1)" aria-label="Sonraki">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav><!--- END PAGINATION -->
    </div><!--- END CONTAINER -->
</section>

<script type="text/javascript">document.addEventListener('DOMContentLoaded', function () {
        var resetButton = document.querySelector('button[type="reset"]');
        var form = resetButton.closest('form'); // Form elementini bul

        resetButton.addEventListener('click', function (e) {
            e.preventDefault(); // Varsayılan reset davranışını engelle

            // Input text alanlarını sıfırla
            form.querySelectorAll('input[type="text"]').forEach(function (input) {
                input.value = '';
            });

            // Select alanlarını ilk seçeneğe sıfırla (varsayılan olarak kabul edilir)
            form.querySelectorAll('select').forEach(function (select) {
                select.selectedIndex = 0;
            });

            // Formu yeniden gönder
            form.submit();
        });
    });</script>

