@using Gfk.Mvc.Models.Entities
@model PlayerEntity
<!-- Player section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0 rounded-circle border border-danger" src="https://picsum.photos/600/600" alt="@Model.Name @Model.Surname " /></div>
            <div class="col-md-6">
                <div class="small mb-1">@Model.Category</div>
                <h1 class="display-5 fw-bolder">@Model.Name @Model.Surname </h1>
                <div class="fs-5 mb-5">
                    <span>@Model.Phone</span>
                </div>
                <dl class="dl-horizontal">
                    <dt class="col-sm-3">Doğum Tarihi</dt>
                    <dd class="col-sm-9">@Model.BornDate.ToShortDateString()</dd>

                    <dt class="col-sm-3">E-Posta Adresi</dt>
                    <dd class="col-sm-9">@Model.Email</dd>

                    <dt class="col-sm-3">Lisans</dt>
                    <dd class="col-sm-9">@Model.Licance</dd>

                    <dt class="col-sm-3">Veli Bilgisi</dt>
                    <dd class="col-sm-9">@Model.ParentContact</dd>
                </dl>
                <div class="d-flex">
                    <div class="btn-group dropend">
                        <button type="button" class="btn btn-danger btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            İşlemler
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Aidat Hatırlat</a></li>
                            <li><a class="dropdown-item" href="#">Sms Gönder</a></li>
                            <li><a class="dropdown-item" href="#">E-Posta Gönder</a></li>
                            <li><a class="dropdown-item" href="#">Fotoğraf Ekle</a></li>
                            <li><a class="dropdown-item" href="#">Fotoğraf Güncelle</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-danger btn-sm ms-1">Güncelle</button>
                    <button type="button" class="btn btn-danger btn-sm ms-1">Kaydı Sil</button>
                </div>
            </div>
        </div>
    </div>
</section>
