@using Gfk.Mvc.Models.Entities
@model List<PlayerEntity>

<h2>Oyuncu Bilgi Listesi</h2>

<div class="d-flex justify-content-end">
    <a asp-controller="Home" asp-action="Create" class="btn btn-danger">
        <i id="pageButtonsFonts" class="fa-solid fa-user-plus fa-lg" style="color: #ffffff;"> YENI KAYIT</i>
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Ad - Soyad</th>
            <th>Telefon</th>
            <th>Yaş Kategorisi</th>
            <th>Doğum Tarihi</th>
            <th>Seçenekler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model)
        {
            <tr>
                <td>@player.Name @player.Surname</td>
                <td>@player.Phone</td>
                <td>@player.Category</td>
                <td>@player.BornDate.ToString("dd/MM/yyyy")</td>
                <td>
                    <a asp-controller="Home" asp-action="Detail" asp-route-id="@player.Id"><span class="badge rounded-pill text-bg-danger">Detay</span></a>
                    <a asp-controller="Home" asp-action="Update" asp-route-id="@player.Id"><span class="badge rounded-pill text-bg-danger">Düzenle</span></a>
                </td>
            </tr>
        }
    </tbody>
</table>